<section class="position-relative c-mt-9">
    <div class="container">
        <div class="row c-px-xl-6">
            <div class="col">
                <div>
                    <div class="nx-videoposter--outer is-in-view" data-in-view="streak">
                    <div class="nx-streak"></div>
                    <div class="nx-videoposter--img">
                    <div class="nx-playbtn">
                        <button class="nx-playbtn--btn" data-toggle="modal" data-target="#videomodal">
                            <span class="nx-playbtn--svg">
                                <svg x="0px" y="0px" viewBox="0 0 35.3 40.5" width="35" height="41">	
                                <path fill="#ffffff" d="M1.3,1.9v36.5c0,0.6,0.6,1,1.2,0.7l30.8-18.3c0.5-0.3,0.5-1,0-1.3L2.5,1.3C2,1,1.3,1.3,1.3,1.9"></path>
                                </svg>
                            </span>
                            <span class="nx-playbtn--ring" data-toggle="modal" data-target="#videomodal">
                                <svg class="nx-playbtn--ringsvg" data-toggle="modal" data-target="#videomodal" viewBox="0 0 100 100" width="100" height="100"><circle cx="50" cy="50" r="42"></circle></svg>
                                <svg class="nx-playbtn--draw"data-toggle="modal" data-target="#videomodal" viewBox="0 0 100 100" width="100" height="100"><circle cx="50" cy="50" r="42"></circle></svg>
                            </span>
                        </button>
                            
                        <span class="nx-playbtn--ring-outer"><span></span></span>
                        <span class="nx-playbtn--ring-outermost"><span></span></span>
                    </div>
                
                      <div class="nx-playbtn--bg"><span></span></div>
                        <figure>
                            <div class="nx-videoposter--imgtag">
                                {% if module.image_field.src %}
                                    {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
                                    {% if module.image_field.size_type == 'auto' %}
                                        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                    {% elif module.image_field.size_type == 'auto_custom_max' %}
                                        {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
                                    {% endif %}
                                    {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
                                    <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                                {% endif %}
                            </div>
                        </figure>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

<div id="videomodal" class="modal js-modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close modal-dialog__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <iframe class="iframe-video" width="100%" height="100%" src='https://www.youtube.com/embed/MGBLgRqjdIc' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>